@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-azul: rgb(0, 132, 255);
    --cor-de-fundo:  rgb(233, 233, 233);
}

body {
    background-color: var(--cor-de-fundo);
}

header {
    background-color: var(--cor-azul);
    height: 70px;
    display: flex;
    justify-content: end;
}

header > a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}

    /*MENU*/

div.introducao {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
}

div.foto1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.introducao img {
    width: 200px;
    border: 4px solid var(--cor-azul);
    padding: 3px;
    border-radius: 50%;
}

div.introducao h1 {
    margin: 15px;
    text-align: left;
    color: var(--cor-azul);
}

div.introducao > a {
    text-decoration: none;
    margin-top: 50px;
    color: var(--cor-azul);
    
}

div.apresentacao {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: auto;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.apresentacao iframe {
    max-width: 900px;
    margin: auto;
    height: 500px;
    border-radius: 15px;
    
}

div.apresentacao h1 {
    margin: 15px;
    text-align: left;
    color: var(--cor-azul);
}

div.skills {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: auto;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
}

div.lista {
   display: flex;
   flex-direction: row column;
   justify-content: space-between;
   
}


div.skills h2 {
    margin: 10px 0px 25px 0px;
    color: var(--cor-azul);
}

div.skills p {
    color: var(--cor-azul);
    font-weight: bold;
   
}



div.progresso {
    background-color: rgb(90, 175, 255);
    height: 10px;
    width: 80vw;
    border-radius: 25px;
}

div.teste {
    background-color: white;
    height: 10px;
    width: 80vw;
    border-radius: 25px;
}

div.barra {
    background-color: lightgray;
    height: 10px;
    border-radius: 25px;
    width: 95%;
}

div.progressocss {
    background-color: rgb(90, 175, 255);
    height: 10px;
    width: 80vw;
    border-radius: 25px;
}

div.progressojs {
    background-color: rgb(90, 175, 255);
    height: 10px;
    width: 80vw;
    border-radius: 25px;
}

div.progressocm {
    background-color: rgb(90, 175, 255);
    height: 10px;
    width: 80vw;
    border-radius: 25px;
}

div.progressote {
    background-color: rgb(90, 175, 255);
    height: 10px;
    width: 80vw;
    border-radius: 25px;
}

div.progressoap {
    background-color: rgb(90, 175, 255);
    height: 10px;
    width: 80vw;
    border-radius: 25px;
}

div.progressol {
    background-color: rgb(90, 175, 255);
    height: 10px;
    width: 80vw;
    border-radius: 25px;
}


/*FORMACOES*/

article {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: auto;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
}

article h2 {
    color: var(--cor-azul);
    
}

div.form1 {
    background-color: var(--cor-de-fundo);
    padding: 20px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    border-left: 5px solid var(--cor-azul);
}

div.form1 h3 {
    color: var(--cor-azul);
    margin: 5px 0px;
    font-size: 1.1em;
}

div.form1 span {
    font-weight: bolder;
}

div.form2 {
    background-color: var(--cor-de-fundo);
    padding: 20px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    border-left: 5px solid var(--cor-azul);
}

div.form2 h3 {
    color: var(--cor-azul);
    margin: 5px 0px;
    font-size: 1.1em;
}

div.form2 span {
    font-weight: bolder;
}

div.form1:hover {
    border-left: 11px solid var(--cor-azul);
    transition: .5s;
}

div.form2:hover {
    border-left: 11px solid var(--cor-azul);
    transition: .5s;
}

/*PROJETOS*/

.projetos {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
}

.container {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--cor-de-fundo);
    border-left: 7px solid var(--cor-azul);
    margin-bottom: 20px;
}

.container:hover {
      border-left: 15px solid var(--cor-azul);
      transition: .4s;
      cursor: pointer;
}

.imagens {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
}

.titulo {
    margin: 8px 0px;
}

summary {
margin: 8px 0px;
}

.projetos h1 {
    color: var(--cor-azul);
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {

    .container {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .imagens {
        width: 50%;
    }

}