@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-azul: rgb(0, 132, 255);
    --cor-de-fundo:  rgb(233, 233, 233);
}

body {
    background-color: var(--cor-de-fundo);
}

header {
    background-color: var(--cor-azul);
    height: 70px;
    display: flex;
    justify-content: end;
}

header > a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}

    /*MENU*/

div.introducao {
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
}

div.foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.introducao img {
    width: 200px;
    border: 4px solid var(--cor-azul);
    padding: 3px;
    border-radius: 50%;
}

div.introducao h1 {
    margin: 15px;
    text-align: center;
    color: var(--cor-azul);
}

div.introducao > a {
    text-decoration: none;
    margin-top: 50px;
    color: var(--cor-azul);
    
}