@charset "UTF-8";

.container {
    display: grid;
    background-color: yellow;
     grid-template-rows: repeat(8, 100px);
     grid-template-columns: repeat(6, 1fr);
     text-align: center;
     gap: 5px;
}

.topo {
    grid-area: 1/ 1/ 3/ 7;
    background-color: gray;
}

.menu {
    grid-area: 3/ 1/ 4/ 7;
    background-color: gray;
}

.principal {
    grid-area: 4/ 1/ 8/ 5;
    background-color: grey;
}

.secundario {
    grid-area: 4/ 5/ 8/ 7;
    background-color: grey;
}

.rodape {
    grid-area: 8/ 1/ 9/ 7;
    background-color: grey;
}