 @charset "UTF-8";
 body {
            background-color: rgb(6, 155, 6); font-family: Arial, Helvetica, sans-serif; font-size: 20px;
        }
        h1 { 
           color: rgb(252, 252, 253); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 22px;
        }
        h2 {
            color: rgb(145, 8, 8);
        }
        p {
            text-align: justify;
        }