@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:"android";
    src: url(fontes/idroid.otf) format("opentype");
    font-weight: normal;
}


/*
#c5ebd6 #83e1ab #3ddc84 #2fa866 #1a5c37 #063dle /claro > escuro
*/

:root {
    --cor0:  #83e1ab;
    --cor1:#3ddc84;
    --cor3:#2fa866;
    --cor4: #1a5c37;
    --cor5: #062514;

    --fonte-padrao: Arial, Helvetica, Verdana, Sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: "android", "cursive";
}

body {
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}


header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
    
}

header p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
margin-bottom: 30px;
}

header > h1 {
    color: white;
    margin-bottom: 10px;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow: 2px 2px 0px black;
}

nav {
    background-color: #062514;
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.61);
}

nav > a:hover {
    background-color: #2fa866;
    color: #062514;
    border-radius: 5px;
}

nav > a {
color: #3ddc84;
padding: 10px;
text-decoration: none;
font-weight: bold;
transition-duration: 0.5s;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto; 
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
}

main h1 {
    color: var(--cor4);
font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    padding: 3px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 15px;
    line-height: 1.8em;
}

main strong {
    color: #1a5c37;
    font-weight: bold;
}

main a {
    text-decoration: none;
    color: #1a5c37;
    background-color: #3ddc84;
    font-weight: bold;
    padding: 2px;
}

main a:hover {
    text-decoration: underline;
    color: #2fa866;
}

main img {
   width: 100%;
    padding: auto;
}

.pequena {
max-width: 350px;
margin: auto;
display: block;
}

aside h3 {
    background-color: #1a5c37;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 5px 5px 0px 0px;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.719);
}

aside ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}

footer {
    background-color: #062514;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

a.externo::after {
    content: "\1F517";
}

div.video {
    background-color: #1a5c37;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 5%;
    position: relative;
}

div.video > iframe {
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;

}


* /*o "*"* aqui vale como tag global*/
{
margin: 0px;
padding: 0px;
}