@charset "UTF-8";

:root {
    --cor0: #FDB7B9;
    --cor1: #FDB4EF;
    --cor2: #FC7F9F;
    --cor3: #F1DFDF;
    --cor4: #BA5BBA;
}

* {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor4);
}

header {
background-color: var(--cor4);
text-align: center;
padding: 10px;
background-image: linear-gradient( to top, #d15a78, #a142a1);
box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.568);
color: #F1DFDF;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
}


header span {
    margin: 20px 40px 5px 40px;
    color: #F1DFDF;
    padding: 2px;
    border: 2px solid #F1DFDF;
    border-radius: 4px;
}

header > span > abbr {
    text-decoration: none;
    border-bottom: none;
}

div {
    background-color: #f1dfdfb6;
    width: 75vw;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.685);
   
}

div h1 {
    text-align: center;
    padding: 5px;
    padding-bottom: 15px;
    color: var(--cor2);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.747);
    
} 

div p {
    text-align: justify;
    color: black;
    font-size: 0.8em;
    padding-bottom: 10px;
}

#a1 {
    background-color: #fc7f9e;
    color: var(--cor3);
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.705);
    padding: 3px;

}

html, body {
    background-image: url(../imagens/pexels-pengwhan-1767434.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--cor3);
    width: 97vw;
    height: 100vh;
    background-position: center center;
    position: relative;
}

@media screen and (min-width: 768px) {
    div p {
        font-size: 1em;
    }

    div {
        margin-bottom: 20px;
    }

    html, body {
        width: 98vw;
    }


}