@charset "UTF-8";

:root {
    --cor0: #FDB7B9;
    --cor1: #FDB4EF;
    --cor2: #FC7F9F;
    --cor3: #F1DFDF;
    --cor4: #BA5BBA;
}

* {
margin: 0;
padding: 0;
}

html, body {
    background-image: url(../imagens/pexels-pixabay-326612.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--cor3);
    width: 97vw;
    height: 100vh;
    background-position: center center;
    position: relative;
}

header {
background-color: var(--cor4);
text-align: center;
padding: 10px;
background-image: linear-gradient( to top, #d15a78, #a142a1);
box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.568);
color: #F1DFDF;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
}


header span {
    margin: 20px 40px 5px 40px;
    color: #F1DFDF;
    padding: 2px;
    border: 2px solid #F1DFDF;
    border-radius: 4px;
}

header > span > abbr {
    text-decoration: none;
    border-bottom: none;
}

div {
    background-color: #ba5bbaa8;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    
    margin: 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.726);
    color: var(--cor3);
    text-shadow: 1px 1px 2px black;

    

}

div a {
    background-color: #FC7F9F;
    color: var(--cor3);
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.705);
    padding: 3px;
    margin: 20px 0px 20px 0px;
    
}

@media screen and (min-width: 768px) {

    html, body {
        position: relative;
    }

    div {
     margin: auto;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 30vh;
}

html, body {
    width: 100vw;
}
}
