@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: rgb(145, 144, 144);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

#burguer {
    background-color: rgb(70, 69, 69);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(82, 81, 81);
    color: white;
    text-align: center;
    border: 2px solid gray;
}

menu a:hover {
    background-color: rgb(153, 153, 153);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article h2 {
    padding-bottom: 20px;
}

article p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20p;
}