@charset "utf-8";
/*
em HTML id=# em css
em HTML class=. em css
*/

body {
    background-color: rgb(127, 197, 255);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(11, 11, 119);
}
h2 {
    color: rgb(7, 77, 77);
}

h1#principal {
    text-align: center;
    background-color: rgb(11, 11, 119);
    color: white;
}
.basico {
    color: rgb(97, 98, 185);
}
.avancado {
    color: rgb(82, 82, 82);
}
.intermediario {
    color: rgb(3, 3, 26);
}
.arthur {
    background-color: blanchedalmond;
}