@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    --cor0: #FFFFFF;
    --cor1: #DEBEF7;
    --cor2: #8417d5;
    --cor3: #FC76DF;
    --cor4: #DAEC39;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
}



body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor1);
}

header {
    background-color: var(--cor2);
    text-align: center;
    margin: -40px -8px 0px -8px;
    
}

header > h1 {
    color: var(--cor0);
    padding: 20px;
    font-family: var(--fonte-destaque);
    font-size: 3em;
}

header p {
    padding: 5px 0px 15px 0px ;
    color: var(--cor0);
    font-family: var(--fonte-destaque);
    font-size: 1.6em;
}

section.conteudo {
    background-image: url(imagens/equipamento-escolar-em-linha-em-casa_23-2149041145.avif);
    width: 700px;
    height: 400px;
    margin: auto;
    position: absolute;
    left: 37%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

section > h1 {
    color: var(--cor0);
    background-color: #bc38e067;
    padding-top: 42px;
}

.container {
    background-color: var(--cor2);
    height: 500px;
    width: 1000px;
    position: relative;
    border-radius: 25px;
}

.container > p {
    text-align: right;
    padding: 20px;
}
