@charset "UTF-8";

:root {
    --cor0: #FDB7B9;
    --cor1: #FDB4EF;
    --cor2: #FC7F9F;
    --cor3: #F1DFDF;
    --cor4: #BA5BBA;
}

* {
margin: 0;
padding: 0;
}

html, body {
    background-image: url(imagens/pexels-pixabay-326612.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--cor3);
    width: 100vw;
    height: 100vh;
    background-position: center center;
    position: relative;
}

div {
    background-color: #ba5bbaa8;
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.726);
    color: var(--cor3);
    text-shadow: 1px 1px 2px black;

    position: absolute;
            
    left: 50%;
    top: 50%;

   transform: translate(-50%, -100%);
}

div a {
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
}
